.Applied-main{
    display: flex;
    flex-direction: row;
}

.Applied-leftmenu{
    margin: 0% 2% 0% 1%;
    padding-right: 8%;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    height: 87vh;

}

.Applied-leftmenu ul{
    list-style: none;
}

.Applied-leftmenu ul li{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    gap: 6%;
    margin-bottom: 10%;
    color: gray;
    padding: 5% 5% 5% 59%;
    margin-left: -60%;
    width: 150%;
    border-radius: 0 50px 50px 0;
}

.Applied-leftmenu ul li:nth-child(3){
    color: rgb(68, 94, 226);
    background-color: rgb(246, 248, 255);
}

.Applied-ft:hover, .Applied-oj:hover, .Applied-ap:hover{
    cursor: pointer;
}

.ap-leftapicon{
    font-size: 1.2rem;
    stroke-width: 1;
    color: rgb(68, 94, 226);
}

.ap-leftojicon, .ap-leftfticon{
    font-size: 1.2rem;
    stroke-width: 1;
    color: gray;
}

.ap-mcnav{
    display: flex;
}

.applied-maincontent{
    width: 50%;
}

.ap-mcnav h3:first-child{
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    padding-right: 2%;
    margin-right: 2%;
}