.Applied-main{
    display: flex;
    flex-direction: row;
}

.Applied-leftmenu{
    margin: 0% 2% 0% 1%;
    padding-right: 8%;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    height: 87vh;

}

.Applied-leftmenu ul{
    list-style: none;
}

.Applied-leftmenu ul li{
    margin-bottom: 10%;
    font-size: 1.4rem;
}

.Applied-ap{
    background-color: rgb(246, 249, 248);
    padding: 5% 5% 5% 59%;
    margin-left: -60%;
    width: 150%;
    border-radius: 0 50px 50px 0;
}

.Applied-ft:hover, .Applied-oj:hover, .Applied-ap:hover{
    cursor: pointer;
}