.Applied-main{
    display: flex;
    flex-direction: row;
}

.Applied-leftmenu{
    margin: 0% 2% 0% 1%;
    padding-right: 8%;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    height: 87vh;

}

.Applied-leftmenu ul{
    list-style: none;
}

.Applied-leftmenu ul li{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    gap: 6%;
    margin-bottom: 10%;
    color: gray;
    padding: 5% 5% 5% 59%;
    margin-left: -60%;
    width: 150%;
    border-radius: 0 50px 50px 0;
}

.Applied-leftmenu ul li:nth-child(3){
    color: rgb(68, 94, 226);
    background-color: rgb(246, 248, 255);
}

.Applied-ft:hover, .Applied-oj:hover, .Applied-ap:hover{
    cursor: pointer;
}

.ap-leftapicon{
    font-size: 1.2rem;
    stroke-width: 1;
    color: rgb(68, 94, 226);
}

.ap-leftojicon, .ap-leftfticon{
    font-size: 1.2rem;
    stroke-width: 1;
    color: gray;
}

.ap-mcnav{
    display: flex;
}

.applied-maincontent{
    width: 90%;
}

.ap-mcnav h3:first-child{
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    padding-right: 2%;
    margin-right: 2%;
}

.ap-mcinternshipsmaincontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 5%;
}

.applyinternbtn{
    margin-left: 4%;
    background-color: rgb(68, 94, 226);
    color: white;
    width: 22%;
    height: 40px;
    font-size: 1.1rem;
    border-style: none;
    border-radius: 5px;
}

.ap-cloudicon{
    font-size: 2rem;
    border: 2px solid rgb(246, 248, 255);
    padding: 2% 2% 2% 2%;
    border-radius: 40px;
    margin-bottom: 5%;
}

.ap-mcinternshipsmaincontent p{
    margin-bottom: 5%;
}

.ap-mcinternships p{
    margin-top: -1%;
}

.ap-mcnav h3:hover{
    cursor: pointer;
}

.ap-mcjobmaincontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 5%;
}

.applyjobbtn{
    margin-left: 4%;
    background-color: rgb(68, 94, 226);
    color: white;
    width: 22%;
    height: 40px;
    font-size: 1.1rem;
    border-style: none;
    border-radius: 5px;
}

.ap-mcjobmaincontent p{
    margin-bottom: 5%;
}

.ap-mcjobs p{
    margin-top: -1%;
}

.ap-mcinternships{
    display: flex;
    width: 100%;
}

.ap-mcinternleft{
    width: 60%;
}

.ap-mcinternright {
    width: 30%;
    border: 2px solid rgb(246, 248, 255);
    margin-top: -5%;
    border-radius: 5px;
    padding: 0.1% 0.5% 0.1% 0.5%;
    max-height: 60px;
    overflow: hidden; 
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.ap-mcinternright h3 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: 18px;
    font-weight: 500;
}


.ap-mcinternright.expanded {
    max-height: 1000px; 
    opacity: 1;
}

.cuvette-steps {
    margin-top: 15px;
    padding-left: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.ap-mcinternright.expanded .cuvette-steps {
    opacity: 1;
}


.step {
    margin-bottom: 20px;
}

.step-number {
    font-size: 20px;
    color: #ccc;
    font-weight: 600;
    margin-bottom: 5px;
}

.step h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.step-description {
    font-size: 14px;
    color: #666;
}

.step-time {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

  
.ap-cloudicon {
    font-size: 50px;
    color: #ccc;
    margin-bottom: 15px;
}
  
.active-tab {
    color: rgb(68, 94, 226); 
    border-bottom: 2px solid rgb(68, 94, 226); 
    padding-bottom: 5px; 
}
  

.ap-mcnav h3 {
    padding-bottom: 5px;
    margin-right: 15px;
    cursor: pointer;
}
  
.ap-mcnav h3:hover {
    color: rgb(68, 94, 226);
}
  