.fulltime-main{
    display: flex;
    flex-direction: row;
}

.fulltime-leftmenu{
    margin: 0% 2% 0% 1%;
    padding-right: 8%;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    height: 87vh;

}

.fulltime-leftmenu ul{
    list-style: none;
}

.fulltime-leftmenu ul li{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    gap: 6%;
    margin-bottom: 10%;
    color: gray;
}

.fulltime-leftmenu ul li:first-child{
    color: rgb(68, 94, 226);
}

.ft-leftfticon{
    font-size: 1.2rem;
    stroke-width: 1;
    color: rgb(68, 94, 226);
}


.ft-leftapicon, .ft-leftojicon{
    font-size: 1.2rem;
    stroke-width: 1;
    color: gray;
}

.fulltime-ft{
    background-color: rgb(246, 248, 255);
    padding: 5% 5% 5% 59%;
    margin-left: -60%;
    width: 150%;
    border-radius: 0 50px 50px 0;
}

.fulltime-ft:hover, .fulltime-oj:hover, .fulltime-ap:hover{
    cursor: pointer;
}

.fulltimecontent{
    width: 55%;
}
.fulltime-searchmenu{
    margin-top: 1%;
    padding: 4% 0% 7% 0%;
    width:100%;
    background-color: rgb(246, 248, 255);
}

.fulltime-searchbar{
    margin-left: 3%;
    width: 70%;
    height: 30px;
    font-size: 1rem;
    padding-left: 1%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease; 
}

.fulltime-filters{
    margin-left: 3%;
    padding-left:1%;
    width: 18%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 70%;
}

.fulltime-filters h3{
    margin-top: 15%;
}

.fulltime-otoptions{
    margin-top: 1%;
}

.inofficeradio{
    margin-left: 15%;
}

.fulltime-workexp{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.workexpselect{
    margin-top: 2%;
    width: 85%;
    height: 30px;
    font-size: 1.02rem;
}

.fulltime-minsalary{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.minsalaryrange{
    width: 90%;
    margin-top: 2%;
}

.minsalarybuttons{
    margin-top: 2%;
    margin-left: 40%;
    margin-bottom: 15%;
}

.minsalaryapply{
    margin-left: 4%;
    background-color: blue;
    color: white;
    width: 40%;
    height: 35px;
    border-style: none;
    border-radius: 5px;
}

.minsalaryclear{
    margin-left: 4%;
    background-color: rgb(246, 248, 255);
    color: blue;
    width: 40%;
    height: 35px;
    border-style: none;
    border-radius: 5px;
}

.ft-comploc{
    display: flex;
    margin-top: -3.8%;
    font-size: 0.8rem;
    color: gray;
}

.tech-item {
    display: inline-block;
    margin-right: 2%;
    padding: 0.8% 1% 0.8% 1%;
    border-radius: 25px;
    background-color: rgb(246, 248, 255);
    font-size: 0.8rem;
}

.ft-jobinfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 8%;
}
  
.ft-jobinfo p {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    padding-right: 2%;
}
  
.ft-jobinfo p:last-child {
    border-right: none;
}

.ft-jobinfo label{
    color: gray;
}

.ft-jobappli{
    display: flex;
    width: 100%;

}

.jobappli-left{
    color: blue;
    width: 50%;
}

.jobappli-left label{
    font-weight: 600;
}

.jobappli-right{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    gap: 5%;
}

.jobappliapplybtn{
    background-color: blue;
    color: white;
    width: 120px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
}

.viewdbtn{
    background-color: white;
    width: 120px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.1rem;

}


.ft-jobcardborder{
    border: 2px solid rgb(246, 248, 255);
    margin-bottom: 3%;
    border-radius: 15px;
}

.ft-jobcardborder:first-child{
    margin-top: 3%;
}

.ft-jobcardborder legend{
    display: inline-block;
    margin-left: auto;
    font-size: 1.2rem;
    color: rgb(68, 94, 226);
    background-color: rgb(246, 248, 255);
    padding: 0.5% 1% 0.5% 1%;
    border-radius: 5px;
}








  